*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}





header {
    background: lightpink;
    padding: 2rem;
}







.parent {
    display: grid;
    height: 80vh;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    column-gap: 0px;
    row-gap: 10px;
    margin: auto;
}


.child {
    /*border: 1px solid black;*/
    display: grid;
    flex: 1 1 250px;
    width: 120px;
    height: 80px;
    font-size: 1rem;
    text-align: center;
    margin: auto;
    color: grey;
    text-decoration: none;
}






footer{
    display: grid;
    justify-content: center;
    align-items: center;
    bottom: 0;
    position: relative;
    width: 100vw;
    background: #3586ff;
    min-height: 50px;
    padding: 20px 50px;
    
}

footer .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .icon li{
    list-style: none;
}



footer .icon li a{
    font-size: 1.5em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .icon li a:hover{
    transform: translateY(-10px);
}


footer .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: relative;
    margin: auto;
    flex-wrap: wrap;
}


footer .menu li {
    list-style: none;
}

footer .menu li a {
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .menu li a:hover {
    transform: translateY(-10px);
}